<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Ir al login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Ir al Registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Ir al listado</a>
    </li>

</ul>

